{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Exception"
        ],
    },
    "logs": {
        "html": "infection-log.html"
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "\\$this->taintProtection\\(\\);"
        ],
        "UnwrapArrayMerge": {
            "ignore": [
                "shanept\\AssemblySimulator\\SimulatorFactory::createSimulator",
            ],
        },
        "GreaterThan": {
            "ignoreSourceCodeByRegex": [
                "if \\(\\$zeroPadAmount > 0\\).*"
            ],
        },
        "ArrayItemRemoval": {
            "ignore": [
                "shanept\\AssemblySimulator\\Simulator::registerInstructions",
            ],
        },
    },
}
