{
    "$schema": "vendor/infection/infection/resources/schema.json",
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Exception"
        ],
    },
    "mutators": {
        "@default": true,
        "global-ignoreSourceCodeByRegex": [
            "\\$this->taintProtection\\(\\);",
        ],
        "UnwrapArrayMerge": {
            "ignore": [
                "shanept\\AssemblySimulator\\SimulatorFactory::createSimulator",
            ],
        },
        "ArrayItemRemoval": {
            "ignore": [
                "shanept\\AssemblySimulator\\Simulator::registerInstructions",
            ],
        },
        "BitwiseAnd": {
            "ignoreSourceCodeByRegex": [
                "\\$rexSet = \\(bool\\) \\(\\$rex & Simulator::REX\\);",
            ],
        },
        "GreaterThan": {
            "ignoreSourceCodeByRegex": [
                "if \\(\\$zeroPadAmount > 0\\).*",
            ],
        },
        "LessThan": {
            "ignoreSourceCodeByRegex": [
                "if \\(\\$operandSize < \\$addressSize\\).*",
            ],
        },
        "IncrementInteger": {
            "ignore": [
                "shanept\\AssemblySimulator\\Instruction\\AssemblyInstruction::parseModRmByte",
                "shanept\\AssemblySimulator\\Instruction\\AssemblyInstruction::parseSibByte",
                "shanept\\AssemblySimulator\\Instruction\\AssemblyInstruction::unpackImmediate",
            ]
        },
    },
}
