parameters:
  level: 6
  paths:
    - src
    - tests
  typeAliases:
    RegisterObj: 'array{"offset": int, "code": int, "name": string, "width": int, "mask": int}'
  treatPhpDocTypesAsCertain: false
