includes:
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/ergebnis/phpstan-rules/rules.neon
parameters:
  level: 9
  paths:
    - src
    - tests
  typeAliases:
    RegisterObj: 'array{"offset": int, "code": int, "name": string, "width": int, "mask": int}'
    MockSimulator: '\shanept\AssemblySimulator\Simulator&\PHPUnit\Framework\MockObject\MockObject'
  treatPhpDocTypesAsCertain: false
  strictRules:
    booleansInConditions: false
  ergebnis:
    final:
      enabled: false
    noExtends:
      enabled: false
    noParameterWithNullableTypeDeclaration:
      enabled: false
    noParameterWithNullDefaultValue:
      enabled: false
    noErrorSuppression:
      enabled: false
    finalInAbstractClass:
      enabled: false
    noConstructorParameterWithDefaultValue:
      enabled: false
    privateInFinalClass:
      enabled: false
    noSwitch:
      enabled: false
  ignoreErrors:
    # We have already filtered out all callables here.
    - message: '/^Parameter #2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, \(callable\)\|string given\.$/'
      paths:
        - src/Simulator.php

    # These will never be float values.
    - message: '/^Parameter #\d \$(amount|length) of method shanept\\AssemblySimulator\\Simulator::(advanceInstructionPointer|getCodeAtInstruction)\(\) expects int(\|null)?, float\|int<min, 4> given\.$/'
      paths:
        - src/Instruction/Move.php

    # We create multiple mock callbacks in this fashion, we shall ignore the errors.
    - message: "/expects (array<callable\\(\\): mixed>|\\(callable\\(\\): mixed\\)\\|null), .*?(TestAssemblyInstruction|null), '[a-zA-Z0-9_]+'}}? given.$/"
      paths:
        - tests

    # We don't care about dynamic assertion calls, as PHPUnit does it the same way.
    - message: "/^Dynamic call to static method PHPUnit\\\\Framework\\\\/"
      paths:
        - tests

    - message: "/^File is missing a \"declare\\(strict_types=1\\)\" declaration\\.$/"
      paths:
        - tests
