<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	colors="true"
	bootstrap="vendor/autoload.php"
	enforceTimeLimit="true"
	failOnWarning="true"
	failOnRisky="true"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
	<source>
		<include>
			<directory suffix=".php">src/</directory>
		</include>
	</source>
	<coverage includeUncoveredFiles="true">
		<report>
			<html outputDirectory="code-coverage" />
		</report>
	</coverage>
	<testsuites>
		<testsuite name="unit">
			<directory>tests/Unit</directory>
		</testsuite>
		<testsuite name="integration">
			<directory>tests/Integration</directory>
		</testsuite>
	</testsuites>
</phpunit>
